# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print(number)

6

##### Assinging float

In [3]:
number_float = 2.3

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [6]:
n1 = 2
n2 = 5.4

result = n1 + n2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = n2 - n1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [9]:
result_mul = n1 * n2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = n2/n1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [11]:
result_floor = n2 // n1
print(result_floor)

2.0

##### Modulo

In [12]:
result_mod = n2 % n1
print(result_mod)

1.4000000000000004

##### Exponential

In [13]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [2]:
name = 'Joel'

print("Full name", name, end='Carter')

Full name JoelCarter

##### print() <br>
<p>Don't forget about end=' '</p>

In [3]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

John Smith

##### String Concatenation

In [ ]:
number = "32"

change_type_float = float(number)
change_type_float +=5
print(change_type_float)

change_type_int = int(number)
change_type_int += 5.5
print(change_type_int)

# change_float_string = float(float_string)
# change_int_string = int(float_string)
# print(change_float_string)
# print(change_int_string)

##### Type Conversion

In [ ]:
int(), float(), str(), ord(), hex(), oct(), tuple(), set(), dict(), etc.

##### input()

In [ ]:
 # this is a single comment
age = int(input("What's your age?"))
print(age)

add_age = age + 1
print(add_age)

##### format()

In [ ]:
# ask user for age
age = input("What is your age?")

result_string = "You are {} and you are getting old!".format(age)
print(result_string)

result_again = f"{age} is a great time!!"
print(result_again)

##### Old Way (python 2)

In [ ]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int
result_string2 = "You are %s and you look great for your age!"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [11]:
color = input("What color is your car? ")
year = input('And what year is it? ')
make = input('Do you know what company made it? ')
model = input('What model is it specifically? ')

result = f"Let's make sure I got that right. Your car is a {year} {color} {model} made by {make}, right?"
print(result)

What color is your car? red
And what year is it? 1976
Do you know what company made it? Ford
What model is it specifically? XYZ
Let's make sure I got that right. Your car is a 1976 red XYZ made by Ford, right?

### If Statements

In [12]:
num1 = 5
num2 = 10

if num2 == num1:
    print("Equal Values")
else:
    print("Not Equal")

if num2 >= num1:
    print("Num2 is greater")
    
#Available operators: Greater (>), Less (<), Equal (==), Greater or Equal (>=), Less or Equal (<=)

#Truth Tree:
# T && F = F
# t && t = t
# t // f = t
# f // t = t
# f // f = f

Not Equal
Num2 is greater

##### 'is' keyword

In [14]:
# use is when checking for same object, not same value
num3 = 55
if num3 is 55:
    print("This is the number")

demo_phrase = "This is a test"

if "M" is demo_phrase:
    print('Correct')
else:
    print('Not correct')

This is the number
Not correct

##### 'in' keyword

In [18]:
# check if char in name
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [19]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [31]:
response = input('Write anything here and I\'ll tell you if it contains a "p"')

if 'p' in response:
    print('Ha! There\'s totally a "p" there!')

Write anything here and I'll tell you if it contains a "p"pedro
Ha! There's totally a "p" there!

## Using 'and'/'or' with If Statements

In [33]:
# when using 'and' keyword, checks to see if true and true
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#If with and statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print(True and True)

#If with or statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True
True and False

### Elif Statements

In [34]:
first_name = "Max"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is NOT max")
else:
    print("The name IS MAx")

The name IS MAx

### Else Statements

In [ ]:
# see above

### For Loops

In [35]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = 'Joel Carter'

for letter in name:
    print(letter)

J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [36]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [37]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

##### Double For Loops

In [38]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [39]:
# based on a conditional statement
num = 0

while num <= 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [41]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [42]:
num = 0

while num < 5:
    print("While loop iteration " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
    
    num += 1

While loop iteration 0
For Loop Iteration:  0
For Loop Iteration:  1
While loop iteration 1
For Loop Iteration:  0
For Loop Iteration:  1
While loop iteration 2
For Loop Iteration:  0
For Loop Iteration:  1
While loop iteration 3
For Loop Iteration:  0
For Loop Iteration:  1
While loop iteration 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [43]:
# start, stop, step
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [44]:
# check length of variable

name = "Max"

lenght = len(name)
print(lenght)

3

##### help()

In [45]:
# to view more information on a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [46]:
# isinstance(var, type)
print(isinstance(4.5, float))

if isinstance(4.5, float):
    print("This is a float type")

True
This is a float type

##### abs()

In [47]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [49]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
try:
    number_test = 0
    input_Num = int(input("Guess a number: "))
    if input_Num != number_test:
        input_Num = input_Num + number_test
        print("Your Number is " + str(input_Num))
except:
    print("That did not work --- ERROR: Change your Input to a number")

Guess a number: t
That did not work --- ERROR: Change your Input to a number

### Lists

##### Declaring Lists

In [50]:
l_1 = [] #Empty List Declared

names = ["Max", "Cindy", "Kathy", "Bob"]
print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [54]:
# [-1], [start: stop: step]
print(names[0])

# print starting at 1 going to the end
print(names[1:])

# print starting at top of list to the second index (not including)
print(names[:2])

# print starting at index 1 goes up by 3 each iteration
print(names[1::2])

# print starting at the back and present reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [59]:
names.append('Joel')
names.append('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Joel', 'Joel']

##### .insert()

In [60]:
# list.insert(index, value)
names.insert(3, 'Jimmy')
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Jimmy', 'Joel', 'Joel']

##### .pop()

In [61]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable
names.pop(4)
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Joel', 'Joel']


##### .remove()

In [62]:
# value to be removed, not index
names.remove('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Joel']

##### del()

In [64]:
# index to be removed, not value
# be careful with del, can cause indexing errors
del(names[4])
print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy']

##### Concatenating Two Lists

In [65]:
# will append two lists together, not add up elements in each list
l_1 = [0, 1, 2]
l_2 = [3, 4, 5]

large_list = l_1 + l_2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [69]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other
names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [70]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
#Loop with a for loop (by Index)

for i in range(len(names)):
    print(names[i])

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [104]:
limit = 1000
root = limit ** (1 / 3)

for i in range(1, 10):
    if pow(i, 3) == pow(10, 3):
        break
    else:
        print(i)

1
2
3
4
5
6
7
8
9

## Exercise #2 <br>
<p>Get first 100 Prime Numbers</p>

In [105]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(2, 100, 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("Welcome! Please enter your age in numbers (examples: 2, 10, 34) here, and we'll direct you to your group: "))

if age < 0:
    print("ERROR --- please enter a valid age.")
elif age < 18:
    print("Your group: kids.")
elif age < 65:
    print("Your group: adults.")
elif age < 105:
    print("Your group: seniors.")
else:
    print("ERROR --- please enter a valid age.")